{% extends "main/email/base.html" %}
{% load i18n %}

{% block preview %}
  {% trans 'Welcome to TripperBay!' %}
{% endblock %}

{% block image %}
  <img class="hund" align="center" src="{{ SITE_URL }}/static/img/misc/welcome.png" style="border-radius: 3px 3px 0px 0px; width: 100%; max-width: 300px!important; ">
{% endblock %}

{% block title %}
  {% trans 'Welcome to TripperBay!' %}
{% endblock %}

{% block subtitle %}
{% blocktrans with username=user.username %}You are receiving this e-mail because someone registered an account with your email address. The username is <b>{{ username }}</b>. Hopefully it was you :){% endblocktrans %}
  <br>
  <br>
  {% trans 'Please confirm your email.' %}
{% endblock %}

{% block buttons %}
  <a class="button raised" href="{{ activate_url }}" target="_blank"
    style="font-size: 14px; line-height: 14px; font-weight: 500; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 10px 25px; border: 1px solid #3176d6; display: inline-block;">
    CONFIRM
  </a>
{% endblock %}
